#grids, #level-editor{
    position: absolute;
    top: 20px;
    left: 20px;
}

.left-sidebar{
    height: 630px;
    min-width: 630px;
}

#grids{
    background-color: #FFE38C;
}

#level-editor{
    background-color: transparent;
    z-index: 100;
}

.right-sidebar{
    padding-top: 20px;
}

.right-sidebar ul{
    list-style: none;
}

#conf-editor{
    margin-top: 5px;
    height: 85%;
}