#grids, #level-editor{
    position: absolute;
    top: 20px;
    left: 20px;
}

#grids{
    background-color: #F1C40F;
}

#level-editor{
    background-color: transparent;
    z-index: 100;
}

.left-sidebar{
    padding-top: 20px;
    float: left;
}

.left-sidebar ul{
    list-style: none;
}

.conf-editor{
    margin-top: 5px;
}